body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
two{

  background-color: slategrey;
 width: 140px;
  height: 60px;
  border-color:blue;
}